.channel-list {
}

.channel-list-item {
  padding: 10px;
  border-bottom: 1px solid #F0F0F0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.channel-list-item:hover {
  background-color: #F3F3F3;
}

.channel-list-item.selected {
  background-color: #F8F8F8;
}

.channel-list-item.closed {
  opacity: 0.5;
}

.title {
  flex: 1 1 0;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spark {
  flex: 0 0 50px;
}